
@{
    ViewData["Title"] = "Hi";
}


<a class="btn btn-outline-secondary" asp-controller="APIAllegro" asp-action="GetFilesFromFileTokenTxt" >Get files From File Token.txt</a>


<h2>Enter your data</h2>

<form method="post" asp-action="SubmitDataFirst">
    <div>
        <label for="token">Input Data First:</label>
        <textarea id="token" name="token" rows="20" cols="100">@ViewBag.token</textarea>
    </div>
    <button type="submit">Submit</button>
</form>

<form method="post" asp-action="SubmitDataSecond">
    <div>
        <label for="token">Input Data Second:</label>
        <textarea id="token" name="token" rows="20" cols="100">@ViewBag.token</textarea>
    </div>
    <button type="submit">Submit</button>
</form>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<h3>File Content:</h3>
<p>@ViewBag.FileContent</p>

