@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-primary">
    <h1 class="display-4">Welcome</h1>
    <h1>Application that manages product data from external files XML, JSON (from ALLEGRO API)</h1>
</div>
